        {{>header}}
        <div class="offer-details">
            <h1>{{offer.brand}}</h1>
            <div class="info">
                <img src="{{offer.imageUrl}}"
                    alt="">
                <div class="description">{{offer.discription}}
                    <br>
                    <br>
                    <p class="price">${{offer.price}}</p>
                </div>
            </div>
            <div class="actions">
                {{#if offer.isCreator}}
                <a href="#/edit-offer/{{offer.id}}">Edit</a>
                <a href="#/delete/{{offer.id}}">Delete</a>
                {{else}}
                <a>Buy</a>
                <span>You bought it</span>
                {{/if}}
            </div>
        </div>
        {{>footer}}